<div class="container mt-5">
  <div class="row">
    <!-- Login Form -->
    <div class="col-lg-6 d-flex">
      <div class="card bg-dark text-white w-100">
        <div class="card-body d-flex flex-column justify-content-center">
          <div>
            <h3 class="card-title">Login</h3>
            <form action="/login" method="post">
              <div class="mb-3">
                <input type="text" class="form-control" name="userName" placeholder="Your username here">
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Your password here">
              </div>
              <div class="d-flex align-items-center">
                <button type="submit" class="btn btn-warning">Login</button>
                <div id="login-error" class="text-warning ml-2">{{errorText}}</div> <!-- Placeholder for login error -->
              </div>
            </form>
          </div>
          <div class="mt-3">
            <p class="text-muted">Don't have an account? <a href="signup">Sign up here</a></p>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Image -->
    <div class="col-lg-6 d-flex">
      <img src="https://via.placeholder.com/500" class="img-fluid align-self-stretch" alt="Amazon Image">
    </div>
  </div>
</div>
